<div>
    <div class="my-5 flex-container">
        
        <div id="user-photo" class="mr-3"></div>
       
        <div class="p-2">
            <p class="m-0">Nicholas Giffen</p>
            <p class="m-0">blah@email.com</p>
            
        </div>
       

    </div>
    <div class="my-5">
        
        <button class="btn-group" style="width:50%" class="p-3 mb-2 bg-primary text-white" >new message</button>
    </div>
    <div class="my-5" class="col">
        <button class="row" >inbox (2)</button>
        <button class="row">drafts</button>
        <button class="row">sent</button>
        <button class="row">spam</button>
        <button class="row">trash</button>
    </div>
</div>



<p>test for git</p>