<div>
    <div class="my-5">
        <ul>
            <div class="d-flex row">
                <div class="col"> <h5>Albert Richards</h5></div>
                <div class="col shift">time</div>
               
            </div>
          

           
            <p>
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, nam impedit laboriosam ducimus totam quidem. Laudantium, corrupti veniam animi ad, facilis dolores delectus nobis eum earum beatae ullam sapiente suscipit consequuntur cum ipsam quibusdam fugiat fugit inventore dicta quis praesentium nihil eveniet necessitatibus consequatur. Recusandae.
            </p>
            
            <h5>Laine Willaims</h5>    
        <p>
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit id fugiat quae, nostrum eligendi repellat nesciunt. Nam debitis porro in non ipsa reprehenderit inventore repellat, ab similique vero libero esse earum. Consequuntur?
            </p>

            <h5>Sam Sanderson</h5>
        <p>
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, nam impedit laboriosam ducimus totam quidem. Laudantium, corrupti veniam animi ad, facilis dolores delectus nobis eum earum beatae ullam sapiente suscipit consequuntur cum ipsam quibusdam fugiat fugit inventore dicta quis praesentium nihil eveniet necessitatibus consequatur. Recusandae.
            </p>


            <h5>Todd Smith</h5>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates assumenda blanditiis ab, quam tempore vitae alias voluptatum eos perspiciatis ducimus praesentium fuga tempora recusandae minus!
            </p>
        
        </ul>
    </div>
    <div class="my-5">
       
    </div>
    <div class="my-5">

    </div>
</div>